body{
    background-color: rgb(223, 223, 223);
    color: #3c5868;
}

.cards__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heading{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.logo-container {
    flex-shrink: 0;
    min-width: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.logo {
    width: 100%;
    height: auto;
    max-width: 250px; /* Максимальний розмір логотипу */
}

@media (max-width: 768px) {
    .header {
    flex-direction: column;
    align-items: flex-start;
    }

    .heading {
    text-align: left;
    margin-top: 10px;
    }

    .logo-container {
    padding: 0;
    }
}